name: My Reusable Workflow

on:
  workflow_call:
    inputs:
      NAME2:
        required: false
        type: string
    secrets:
      NAME:
        required: true

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:

      - name: Run My Action
        run: |
          # Use the environment variable in your action
          echo "My secret API key is: ${{ inputs.NAME2 }} ${{ secrets.NAME }} "
